  <div #dropdownRef class="relative inline-block text-left">
    <!-- Botón usuario -->
    <div (click)="toggleMenu()" class="flex items-center space-x-5 cursor-pointer p-2 rounded-md">
      <!-- Foto de perfil -->
      <img
        src="https://i.pravatar.cc/40"
        alt="avatar"
        class="w-10 h-10 rounded-full object-cover"
      />
      <!-- Nombre -->
      <span class="font-medium">John Doe</span>

      <!-- Flecha -->
      <svg class="w-4 h-4 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </div>

    <!-- Menú desplegable -->
    @if (isOpen) {
    <div
      class="absolute dropdown right-0 mt-2 w-56 origin-top-right rounded-md shadow-lg ring-1 ring-black ring-opacity-5 z-50"
      [ngClass]="{
        dark: themeService.darkMode(),
        light: !themeService.darkMode()
      }"
    >
      <div class="py-1">
        <!-- Editar usuario -->
        <a (click)="isOpen = false" class="block px-4 py-2 text-sm cursor-pointer dark-item-hover">
          Editar usuario
        </a>

        <!-- Toggle Dark Mode -->
        <!-- Toggle Dark Mode -->
        <div class="flex items-center justify-between px-4 py-2 text-sm">
          <span> @if (themeService.darkMode()) { Oscuro } @else { Claro  } </span>

          <button
            (click)="toggleDarkMode()"
            class="relative inline-flex h-7 w-14 items-center rounded-full transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2"
            [ngClass]="
              themeService.darkMode()
                ? 'bg-gray-700 focus:ring-gray-500'
                : 'bg-yellow-400 focus:ring-yellow-500'
            "
            aria-label="Cambiar tema"
          >
            <!-- Icono Sol -->
            <i
              class="fa-solid fa-sun absolute left-1 text-yellow-200 text-xs transition-opacity duration-400"
              [ngClass]="themeService.darkMode() ? 'opacity-0' : 'opacity-100'"
            ></i>

            <!-- Icono Luna -->
            <i
              class="fa-solid fa-moon absolute right-1 text-gray-200 text-xs transition-opacity duration-400"
              [ngClass]="themeService.darkMode() ? 'opacity-100' : 'opacity-0'"
            ></i>

            <!-- Thumb -->
            <span
              class="inline-block h-5 w-6 transform rounded-full bg-white shadow-md transition-transform duration-400"
              [ngClass]="themeService.darkMode() ? 'translate-x-7' : 'translate-x-0'"
            ></span>
          </button>
        </div>

        <!-- Divider -->
        <div class="border-t border-gray-200 my-1"></div>

        <!-- Logout -->
        <a
          (click)="isOpen = false"
          class="block px-4 py-2 text-sm text-red-600 dark-item-hover cursor-pointer"
        >
          Logout
        </a>
      </div>
    </div>
    }
  </div>
