<div class="flex flex-row h-screen w-screen overflow-hidden">
  <!-- Sidebar -->

  <app-sidebar
    [menu]="menu$ | async"
    class="sidebar"
    [ngClass]="{
      dark: themeService.darkMode(),
      light: !themeService.darkMode()
    }"
  >
  </app-sidebar>

  <!-- Main content -->
  <div class="flex-1 flex flex-col w-full">
    <!-- Topbar -->
    <app-topbar
      class="topbar"
      [ngClass]="{
        dark: themeService.darkMode(),
        light: !themeService.darkMode()
      }"
    ></app-topbar>

    <!-- Content -->
    <div
      class="flex-1 overflow-y-auto w-full p-3 content"
      [ngClass]="{
        dark: themeService.darkMode(),
        light: !themeService.darkMode()
      }"
    >
      <app-content></app-content>
    </div>

    <!-- Footer  -->

    <app-footer
      class="footer"
      [ngClass]="{
        dark: themeService.darkMode(),
        light: !themeService.darkMode()
      }"
    ></app-footer>
  </div>
</div>
